<div class="container">
  <h1 routerLink="home" class="title">L.L</h1>
  <nav class="nav">
    <li *ngFor="let item of navItem">
      <a [routerLink]="item[0]" routerLinkActive="active">
        <span *ngIf="translationService.languageValue === 'english'">{{
          item[1][0]
        }}</span>
        <span *ngIf="translationService.languageValue === 'french'">{{
          item[1][1]
        }}</span>
      </a>
    </li>
  </nav>
  <div class="language">
    <span
      *ngIf="translationService.languageValue === 'english'"
      (click)="translate()"
      >en</span
    >
    <span
      *ngIf="translationService.languageValue === 'french'"
      (click)="translate()"
      >fr</span
    >
  </div>
</div>
